button {
	
	padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 70px;
    height: 60px;
	
	
}

.si { background-color : #6c5 }

.no { background-color : #933 }
 	
	